<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dictionary">

    <sql id="BASE_COLUMN">
        item_code,
        item_name
    </sql>

    <select id="selectItems" resultType="dicItem" parameterType="map">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM dictionary_item
        <where>
            <if test="dicCode != null and dicCode != 0 and dicCode != '0'">
                and dic_code = #{dicCode}
            </if>
            <if test="itemCode != null and itemCode != 0 and itemCode != '0'">
                and item_code = #{itemCode};
            </if>
        </where>
    </select>

</mapper>
